/* 
 * ASCII-Vision 95 - Main Stylesheet
 * Modular CSS Architecture
 */

@import url('base.css');
@import url('taskbar.css');
@import url('windows.css');
@import url('components.css');
@import url('controls.css');
@import url('output.css');
@import url('responsive.css');